@import '../mixins';

.todo-form {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: max-content;

  .add-input {
@include input;
  }

    .add-btn {
      @include icon-btn;
    }

}
