@import '../mixins';

.container {
  /* stylelint-disable at-rule-no-unknown */
  @include container;
}

.about,
.design,
.development {
  h1,
  h2,
  h3 {
    border-bottom: 1px solid white;
  }

  p {
    font-size: 20px;
    padding: 10px 0;
    margin: 20px 0;
  }

  li {
    box-shadow: 3px 5px 8px 4px #006638;
    padding: 20px;
    border: transparent;
    border-radius: 8px;
    margin: 20px 0;
  }
}
